/*-- scss:defaults --*/
$body-bg: transparent;

/*-- scss:rules --*/
html, body {
    background: transparent !important;
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

#quarto-document-content {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 2rem;
}

pre.sourceCode, pre.sourceCode code {
    background-color: #2d2d2d !important;
    color: #ccc !important;
}

.cell-output-display table.dataframe {
  width: auto;
  table-layout: auto;
}

.cell-output-display table.dataframe th,
.cell-output-display table.dataframe td {
  white-space: nowrap;
  padding: 0.4em 0.8em;
}
